@font-face {
  font-family: 'Cookie-Regular';
  src: url('./fonts/Cookie-Regular.ttf');
  font-weight: 600;
  font-style: normal;
}

/* navigation bar */
nav {
  overflow-x: hidden;
  width: 100vw;
  position: absolute;
  z-index: 2;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font: 600 2rem 'Cookie-Regular';
  color: #eee;
}

.nav-links li {
  padding: 0.5rem;
}

.nav-links .burger-btn {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav-links { justify-content: flex-start;}
  .nav-links li {display: none;}
  .nav-links .burger-btn {
    display: block;
    margin-top: 0.5rem;
  }
}

/* home page */

.home-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image img {
  width: 100vw;
  height:100vh;
  object-fit: cover;
  z-index: -1;
}

.home-image .cover {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(228, 81, 13, 0.5);
}

.home-image h1 {
  font-family: 'Cookie-Regular';
  color: #eee;
  position: absolute;
  top: 5rem;
  z-index: 1;
  font-size: 5rem;
  text-align: center;
}
